<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CommanderToad (Kole)">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <link href="styles.css" rel="stylesheet">

    <title>Template</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


  </head>

<!-- Body -->
<body>
     <div class="col-lg-6 col-md-6">
         <h2>Template</h2>
         <br>
         <h5>Metadata</h5>
         <br>
           <form role="form">
	           <div class="form-group">
                    <label for="label">Label</label>
                    <input ng-model="" class="form-control" id="labelInput">
	           </div>
	           <div class="form-group">
                    <label for="name">Name</label>
                    <input ng-model="" class="form-control" id="nameInput">
               </div>
               
                <div>
                    <label>Template Type: <span>*</span></label><br/>
                    <select name="type" class="form-control">
                        <option value="full">Full</option>
                        <option value="signature">Signature</option>
                        <option value="table">Table</option>
                        <option value="text">Text</option>
                    </select>
                </div>
               <div class="form-group">
                    <label for="description">Description</label>
                    <input ng-model="" class="form-control" id="nameInput">
               </div>
               <button type="submit" class="btn btn-primary btn-block" >Submit</button>
         </form>
    </div>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>


</html>
