<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CommanderToad (Kole)">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <link href="styles.css" rel="stylesheet">

    <title>Register</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


  </head>

<!-- Body -->
<body>
     <div class="col-lg-6 col-md-6">
         <h2>Register</h2>
         <br>
           <form role="form">
	           <div class="form-group">
                    <label for="organization">Organization</label>
                    <input ng-model="" class="form-control" id="labelInput">
	           </div>
	           <div class="form-group">
                    <label for="subdomain">Subdomain</label>
                    <input ng-model="" class="form-control" id="nameInput">
               </div>
               <div class="text">
                    <label for="firstName">First Name</label>
                    <input ng-model="" class="form-control" id="nameInput">
               </div>
               <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input ng-model="" class="form-control" id="nameInput">
               </div>
               <div class="form-group">
                    <label for="email">Email</label>
                    <input ng-model="" class="form-control" id="nameInput" type="email">
               </div>
               <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input ng-model="" class="form-control" id="nameInput">
               </div>
               <div class="form-group">
                   <label for="passwordInput">Password</label>
                   <input ng-model="" class="form-control" id="passwordInput" type="password">
               </div>
                <div class="form-group">
                   <label for="passwordInput">Password Confirmation</label>
                   <input ng-model="" class="form-control" id="passwordInput2"  type="password">
               </div>
               <button type="submit" class="btn btn-primary btn-block" >Submit</button>
         </form>
    </div>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>


</html>
